* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.btn {
    background-color: transparent;
    border: none;
    padding: .5rem;
}

.field-btn {
    background-color: #fafafa;
    border: 1px solid #e4e4e7;
    border-radius: 0px 4px 4px 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.p-0\.5rem {
    padding: .5rem;
}

.m-0\.5rem {
    margin: -.5rem;
}

.gap-1\.5rem {
    gap: 1.5rem;
}

.gap-1rem {
    gap: 1rem;
}

.p-24px {
    padding: 24px;
}

.gap-8px {
    gap: 8px;
}

.items-center {
    align-items: center;
}

.field {
    border: 1px solid #e4e4e7;
    border-radius: 4px 0px 0px 4px;
    border-right: none;
    line-height: 20px;
    font-size: 14px;
    min-width: 383px;
}

.f {
    width: 32px;
    height: 32px;
    shape-outside: circle();
}

.videos {
    width: 950px;
    height: 534x;
}

.p {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
}

.A {
    color: #6B7280;
}

.tum {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 380px;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}
.margin{
    margin-top: 10px;
}
.text{
    margin-top: 38px;
}